<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904308693328-mrd5uicv3t6j126t5bg9fm47nn1nfd82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904308693328-mrd5uicv3t6j126t5bg9fm47nn1nfd82</string>
	<key>API_KEY</key>
	<string>AIzaSyB1GK1BOFqJ-sAk_G9X8b8minuIcxRcZXM</string>
	<key>GCM_SENDER_ID</key>
	<string>904308693328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ali.kolukirik.GraduationProject</string>
	<key>PROJECT_ID</key>
	<string>graduationproject-1d90e</string>
	<key>STORAGE_BUCKET</key>
	<string>graduationproject-1d90e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904308693328:ios:15b9ef7818792732dbb455</string>
</dict>
</plist>